.landing {
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	/* width: 80%; */
	width: 100%;
	height: calc(100vh - 200px);
	margin-top: 50px;
	justify-content: space-around;
	color: var(--dark-color);
	align-items: center;
	/* font-family: "Nunito", sans-serif; */
}

.greetings {
	font-size: 75px;
	text-align: left;
	margin: 0.4em 0;
}

.subtext {
	font-size: 50px;
	font-weight: 400;
}

.roller {
	height: 4.125rem;
	line-height: 4rem;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	color: #1d3557;
}

.roller .rolltext {
	position: absolute;
	top: 0;
	font-family: var(--code-font);
	animation: slide 5s infinite backwards;
	font-size: 58px;
}

.roller #roll2 {
	animation-direction: reverse;
}

.rolltext .en {
	color: var(--orange);
}

.rolltext .it {
	color: #8ee944;
}

.rolltext .fr {
	color: var(--blue);
}

@keyframes slide {
	0% {
		top: 0;
	}
	20% {
		top: 0;
	}
	33% {
		top: -4rem;
	}
	53% {
		top: -4rem;
	}
	66% {
		top: -8rem;
	}
	86% {
		top: -8rem;
	}
	99.999% {
		top: -12rem;
	}
	100% {
		top: 0rem;
	}
}

.side-landing {
	width: 400px;
	height: 400px;
	/* border: 2px solid var(--dark-color); */
}

#logo {
	width: 400px;
}
