.project-title {
	color: var(--dark-color);
	font-size: 30px !important;
	font-weight: 600;
	font-family: var(--code-font);
	height: 38px;
	margin-left: 1em;
}

.blink {
	display: inline-block;
	position: relative;
	bottom: -0.2em;
	left: -0.1em;
	margin: 0;
	width: 3px;
	margin-right: -5px;
	height: 35px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* border-block: ; */
}

.blink.hide {
	/* border-bottom: 2px solid var(--dark-color); */
	/* border-left: 3px solid red; */
	/* border-left: none !important; */
	border-color: transparent !important;
}

#gracoon-text .skill-bar {
	display: flex;
	justify-content: flex-end;
	margin: 2em 1em;
}

#gracoon-text {
	/* background-color: var(--light-color); */
}

#gracoon-text a,
#gracoon-text .short {
	color: var(--light-color);
}
