@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");
:root {
	/* --light-color: #eee; */
	--light-color: #f5f0ee;
	--dark-color: #333;
	/* --color-primary: #470317; */
	--color-primary: #321600;
	--new-dark: #453434;
	--blue: #30dcff;
	--orange: #ff9330;
	--green: #8ee944;
	--code-font: JetBrains Mono, monospace;
	--font: "Paytone One", Outfit, -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	--font-outfit: "Outfit", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
	--max-width: 1000px;
}

::-moz-selection {
	color: var(--light-color);
	background: var(--new-dark);
}

::selection {
	color: var(--light-color);
	background: var(--new-dark);
}

html {
	scroll-behavior: smooth;
}

body {
	/* background-color: var(--light-color); */
	background-color: var(--light-color);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100vh;
	overflow-x: hidden;
	width: 100vw;
	font-family: var(--font-outfit);
	color: var(--new-dark);
	font-weight: 400;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	/* background: #ff9330; */
	/* background: var(--color-primary); */
	position: relative;
	cursor: default;
	/* transition: background 0.2s linear; */
}

.app {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

#gracoonV2 {
	background-color: #b8e0ff;
	grid-column-start: 1;
	grid-column-end: 17;
	grid-row: 1/15;
	max-height: 500px;
}

#depleteV2 {
	background-color: #e8b89c;
	grid-column-start: 17;
	grid-column-end: 26;
	grid-row: 1/15;
	max-height: 500px;
}

#stackV2 {
	background-color: rgb(255, 255, 255);
	grid-column-start: 1;
	grid-column-end: 26;
	grid-row: 15/26;
	max-height: 350px;
}

.card-container {
	/* max-height: 550px; */
	overflow: hidden;
	position: relative;
	padding: 42px 64px 0;
	/* background-color: hsla(22, 62%, 76%, 1); */
	border-radius: 64px;
	/* max-width: 500px;
	max-height: 500px; */
	transition: all 0.5s ease;
	cursor: pointer;
}

/* .card-container:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 70%;
	bottom: 0;
	left: 0;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.651) 14%,
		rgba(1, 115, 0, 0) 72%
	);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.card-container:hover:after {
	opacity: 1;
} */

/* .card-footer-container {
	z-index: 2;
	position: absolute;
	bottom: 40px;
	right: 50px;
	text-transform: uppercase;
	font-weight: 300;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.card-container:hover .card-footer-container {
	opacity: 1;
	transform: translateY(-10px);
} */

.card-container:hover {
	transform: translateY(-10px);
	box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
}

#gracoonV2:hover {
	background-color: hsl(206, 100%, 76%);
}

#depleteV2:hover {
	background-color: hsl(22, 75%, 76%);
}

.card-title-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: var(--new-dark);
	/* z-index: 2; */
	font-size: 15px;
	line-height: 2em;
}

.card-title {
	font-family: "Voltaire", sans-serif;
	/* text-transform: uppercase; */
	font-size: 40px;
}

.card-subtitle {
	text-transform: uppercase;
	font-weight: 300;
}

.card-image-holder {
	/* width: 100%; */
	/* height: 100%; */
	margin-top: 2em;
	object-fit: cover;
	object-position: center;
	/* position: absolute; */
	/* top: -10px; */
	transition: all 0.5s ease;
	width: 100%;
	max-width: 1300px;
	/* filter: blur(0) grayscale(0%); */
}

.card-container:hover .card-image-holder {
	transform: translateY(30px);
}

.card-image-holder img {
	/* margin: 0 auto; */
	/* width: 100%;
	max-width: 1300px; */
	/* box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.15); */
}

#gracoonV2 img {
	width: 150%;
}

.cards {
	display: grid;
	max-width: var(--max-width);
	margin: 0 auto;
	grid-template-columns: repeat(25, 1fr);
	grid-template-rows: repeat(25, 1fr);
	gap: 40px 40px;
	/* padding: 0 40px; */
	margin: 24px 0;
	/* max-height: 800px; */
}

nav {
	position: fixed;
	z-index: 5;
	top: 1em;
	font-size: 20px;
	height: 50px;
	display: flex;
	flex-direction: row;
	background: rgba(255, 253, 247, 0.616);
	border-radius: 25px;
	justify-content: space-between;
	padding: 0 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	transition: all 0.3s ease;
}

nav.top {
	background: none;
	-webkit-backdrop-filter: blur(0);
	backdrop-filter: blur(0);
}

/* .links {
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	align-items: center;
	margin-left: auto;
	display: flex;
} */

nav a {
	font-size: 17px;
	cursor: pointer;
	padding: 0 1em;
	color: var(--new-dark);
	margin: 0 1em;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
}

nav a.active {
	/* background-color: var(--dark-color); */
	/* background-color: var(--dark-color); */
	/* color: var(--light-color); */
	/* border: 1px solid var(--light-color); */
}

nav a:hover {
	/* box-shadow: var(--dark-color) 1px 1px 0px; */
	/* transform: translate(2px, 2px); */
}

nav a:hover:not(.active) {
	background-color: var(--dark-color) 22225;
	color: var(--color-primary);
}

#logo {
	width: auto;
}

.publication a:hover {
	color: black;
}

.publications {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-columns: 1fr; */
	grid-auto-flow: dense;
	gap: 1em;
	max-width: var(--max-width);
	margin-bottom: 2em;
}

.publication {
	background-color: #9be3f136;
	padding: 1em 2em;
	border-radius: 10px;
	position: relative;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	grid-column: span 1;
	grid-row: span 1;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}

.publication:before {
	content: "";
	width: 100%;
	height: 120%;
	left: 30px;
	top: calc(100% - 80px);
	border-radius: 30px;
	/* aspect-ratio: 1/1; */
	position: absolute;
	background-color: #30dcff35;
	z-index: 1;
	opacity: 0.5;
	/* transform: rotate(0) translate(0%, min(60%, 500px)); */
	/* transform: rotate(0) translate(0%, min(60%, 500px)); */
	transition: all 0.3s ease-in-out;
	/* border: 40px solid rgba(255, 255, 255, 0.23); */
}

.publication.phd:before {
	background-color: #ffcb3063;
}

.publication:hover:before {
	opacity: 1;
	/* transform: translate(0%, calc(min(60%, 500px) + 20px)) rotate(0deg); */
	top: calc(100% - 60px);
}

.publication.phd {
	grid-row: span 3 !important;
	grid-column: span 1 !important;
	background-color: #f1e89b;
	font-size: 20px;
	border: 5px solid #ffcb3063;
}

.publication:nth-child(1) {
	background-color: #a9f19bb8;
	max-width: none;
	grid-row: span 1 !important;
	grid-column: span 3 !important;
	font-size: 18px;
	border: 5px solid #30dcff35;
}

.publication:nth-child(1) .article-header::after {
	content: "LAST";
	font-size: 13px;
	font-weight: 500;
	color: var(--new-dark);
	margin-left: 1em;
	padding: 0.1em 0.5em;
	border-radius: 5px;
	border: 2px solid var(--new-dark);
}

.publication.phd .article-header::before {
	content: "PhD";
	font-size: 13px;
	font-weight: 500;
	color: var(--new-dark);
	margin-right: 1em;
	padding: 0.1em 0.5em;
	border-radius: 5px;
	border: 2px solid var(--new-dark);
}

.publication:hover {
	transform: translateY(-10px);
	box-shadow: 0px 50px 100px -20px rgba(0, 0, 0, 0.15);
}

.authors-list {
	align-self: flex-end;
	display: flex;
	column-gap: 0.5em;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
}

.article {
	/* font-family: "Voltaire", sans-serif; */
	font-weight: 600;
	text-decoration: none;
	color: var(--new-dark);
}

.article-header {
	/* text-align: center; */
	margin: 1em 0;
	width: 100%;
	z-index: 2;
	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}

.author {
	font-size: 13px;
	color: var(--new-dark);
	z-index: 2;
	color: #486863;
}

.year {
	display: none;
}

.two-columns-title {
	font-family: "Voltaire", sans-serif;
	font-size: 50px;
}

#journey-text {
	grid-column-start: 1;
	grid-column-end: 2;
	text-align: justify;
}

#pua-img {
	width: 100%;
	aspect-ratio: 1/1;
	/* height: 90%; */
	object-fit: cover;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 50%;
}

#pua-img img {
	max-width: 100%;
	transform: scale(1.1);
	height: auto;
	transition: all 0.3s ease;
}

#pua-img:hover img {
	transform: scale(1.13);
}

.two-columns-container {
	color: var(--new-dark);
	max-width: var(--max-width);
}

.two-columns {
	display: grid;
	max-width: var(--max-width);
	grid-template-columns: repeat(2, 1fr);
	column-gap: 2em;
}

.tag-line h2 {
	font-family: var(--font);
	color: var(--color-primary);
	font-size: 50px;
	line-height: 1.2em;
}

.tag-line {
	text-align: left;
	line-height: 1.5em;
	font-size: 20px;
}

h2 {
	font-family: var(--font);
	color: var(--color-primary);
	font-size: 50px;
	line-height: 1.2em;
}

.text {
	/* max-width: calc(var(--max-width) / 2); */
	text-align: justify;
}

#time-line {
	height: 450px;
	align-items: center;
}

#time-line-img {
	overflow: hidden;
	height: 100%;
	height: 450px;
	border-radius: 10px;
}

#time-line-img .img-column-container {
	height: 100%;
	object-fit: cover;
	object-position: center;
	max-height: inherit;
	/* position: absolute; */
}

#time-line-img img {
	/* max-width: 100%; */
	/* height: auto; */
	height: 100%;
	width: auto;
	max-height: inherit;
}

#time-line-text .text p {
	padding: 0.5em 1em;
	margin: 0;
	border-radius: 10px;
	font-size: 15px;
	transition: all 0.1s ease-in-out;
}

#time-line-text .text p:hover {
	background-color: #fce3cc;
	/* color: var(--light-color); */
	/* opacity: 0.5; */
}

#projects {
	padding-top: 100px;
}
