@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
:root {
	/* --bg-color: #1f1f1f; */
	--bg-color: #eee;
}

body {
	background-color: var(--bg-color);
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	min-height: 100%;
	overflow-x: hidden;
	width: 100vw;
	font-family: "Nunito", sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 100%;
	margin: 0 auto;
	align-content: center;
	/* flex-wrap: nowrap; */
	/* align-items: stretch; */
	/* padding: 0; */
	align-items: center;
}

nav {
	/* position: fixed; */
	z-index: 5;
	/* width: 100vw;
	max-width: 100%; */
	/* height: 50px; */
	display: flex;
	flex-direction: row;
	/* padding: 0 8px; */
	/* align-items: center; */
	background-color: var(--bg-color);
	/* border-bottom: grey; */
	/* align-items: flex-start; */
	justify-content: space-between;
	/* padding: 8px 1em; */
	/* padding-right: 10em; */
	max-width: 1248px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 24px;
	padding-right: 24px;
	display: flex;
}

.links {
	/* left: 0; */
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	align-items: center;
	margin-left: auto;
	display: flex;
}

nav a {
	font-size: 17px;
	cursor: pointer;
	padding: 0.15em 1em;
	color: rgb(53, 53, 53);
	margin: 0 1em;
	font-weight: 700;
	transition: all 0.2s ease-in-out;
	font-family: "Nunito", sans-serif;
	border-radius: 3px;
	border: 1px solid #222;
	box-shadow: #222 2px 2px 0px;
}

nav a.active {
	/* background-color: #222; */
	background-color: #222;
	color: var(--bg-color);
	border: 1px solid var(--bg-color);
}

nav a:hover {
	box-shadow: #222 1px 1px 0px;
	transform: translate(2px, 2px);
}

nav a:hover:not(.active) {
	background-color: #22222225;
	color: rgb(0, 0, 0);
}

/* 
#logo {
	position: fixed;
	top: 0;
	left: 0;
} */

.landing {
	display: flex;
	flex-direction: row;
	align-content: center;
	flex-wrap: wrap;
	/* width: 80%; */
	width: 100%;
	height: 90vh;
	justify-content: space-around;
	color: #222;
	align-items: center;
	font-family: "Nunito", sans-serif;
}

.greetings {
	font-size: 75px;
}

.subtext {
	color: gray;
	font-size: 47px;
	font-weight: 500;
}

.bar {
	height: 15px;
	background-color: rgb(255, 255, 255);
	-webkit-transition: width 0.8s ease;
	-o-transition: width 0.8 ease;
	transition: width 0.8 ease;
	/* border: 2px solid #333; */
	border-radius: 6px;
	/* border-top-right-radius: 0;
	border-bottom-right-radius: 0; */
	width: 0;
	padding-top: 5px;
	padding-left: 5px;
}

.bar-container {
	position: relative;
	background-color: var(--bg-color);
	border-radius: 10px;
	padding: 2px;
	border: 2px solid #333;
}

.bar-effect {
	height: 4px;
	/* margin-top: 4px; */
	/* position: absolute;
	top: 4px;
	left: 10px; */
	width: calc(100% - 20px);
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.475);
}

.greetings {
	text-align: left;
}

.roller {
	height: 4.125rem;
	line-height: 4rem;
	position: relative;
	overflow: hidden;
	width: 100%;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	color: #1d3557;
}

.roller .rolltext {
	position: absolute;
	top: 0;
	font-family: JetBrains Mono, monospace;
	animation: slide 5s infinite backwards;
	font-size: 58px;
}

.roller #roll2 {
	animation-direction: reverse;
}

.rolltext .en {
	color: #fa8231;
}

.rolltext .it {
	color: #31a023;
}

.rolltext .fr {
	color: #3177fa;
}

@keyframes slide {
	0% {
		top: 0;
	}
	20% {
		top: 0;
	}
	33% {
		top: -4rem;
	}
	53% {
		top: -4rem;
	}
	66% {
		top: -8rem;
	}
	86% {
		top: -8rem;
	}
	99.999% {
		top: -12rem;
	}
	100% {
		top: 0rem;
	}
}

.side-landing {
	width: 400px;
	height: 400px;
	border: 2px solid #222;
}

/* @media screen and (max-width: 600px) {
	h1 {
		text-align: center;
		text-transform: uppercase;
		color: #f1faee;
		font-size: 2.125rem;
	}
	.roller {
		height: 2.6rem;
		line-height: 2.125rem;
	}
	#spare-time {
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}
	.roller #rolltext {
		animation: slide-mob 5s infinite;
	}
	@keyframes slide-mob {
		0% {
			top: 0;
		}
		25% {
			top: -2.125rem;
		}
		50% {
			top: -4.25rem;
		}
		72.5% {
			top: -6.375rem;
		}
	}
} 

*/

.expertise-container {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.card {
	padding: 1rem;
	/* border-radius: 10px; */
	min-width: 150px;
	max-width: calc(max(200px, 20%));
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	/* color: var(--bg-color); */
	/* border: 3px solid var(--bg-color); */
	/* border: 2px solid #333;
	box-shadow: #222 5px 5px 0px; */
	/* transition: transform 0.3s ease-in-out, box-shadow 0.15s ease-in-out 0.2s; */
	/* outline: 2px solid white; */
	transition: all 0.2s ease-in-out;
}

.card:hover {
	/* transform: translateY(-5px); */
	box-shadow: #222 0px 0px 0px;
	transform: translate(5px, 5px);
	/* rgb(255, 255, 255) 0.5px 0.5px 0px; */
}

.card svg {
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

.card:hover svg {
	transition: all 0.3s ease-in-out;
	transform: scale(1.1);
}

.card-bottom {
	/* display: flex; */
	/* flex-direction: row; */
	/* justify-content: space-between; */
	width: 100%;
}

.card-top {
	/* display: flex; */
	/* flex-direction: row; */
}

.card-header {
	/* display: flex; */
	/* flex-direction: column; */
	text-align: left;
	font-size: 20px;
	font-family: JetBrains Mono, monospace;
}

.card-logo {
	display: flex;
	padding-right: 20px;
	padding-left: 10px;
	transform: scale(1.8);
	justify-content: center;
	align-items: center;
}

.card-label {
	font-weight: 600;
}

.card-body {
	display: flex;
	margin: 0 auto;
	/* overflow: hidden; */
}

.card-bottom-text {
	font-weight: 700;
	letter-spacing: 0.5px;
}

.temp-div {
	border: 1px solid #222;
	background-color: #2222;
	color: #222;
	margin: 1em 0;
}

.title,
.subtitle {
	text-align: center;
	color: #222;
}

.title {
	font-size: 60px;
}

.subtitle {
	font-size: 40px;
}

section {
	/* width: 100vw; */
	border: 3px solid #222;
	width: 90%;
	/* width: 100%;
	max-width: 100%; */
	display: inline-block;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
	border-radius: 30px;
}

section > * {
	/* max-width: 90%; */
}

section#expertise {
	background-color: #3177fa;
}

section#projects {
	background-color: rgb(250, 213, 49);
}

section#aboutMe {
	background-color: rgb(128, 209, 81);
}

.vintage {
	border-radius: 10px;
	border: 2px solid #222;
	box-shadow: #222 5px 5px 0px;
}

.vintage.light {
	border: 2px solid var(--bg-color);
	box-shadow: var(--bg-color) 5px 5px 0px;
}

img {
	width: 500px;
}
